.player-panel
	// Player name and assign card button
	span.player-name(data-ng-if='player', data-ng-bind='player.name')
	// Delete player button
	button.btn.btn-xs.btn-danger.player-delete-button.pull-right(data-ng-if='player && !isGameStarted()', data-ng-click='deletePlayer()') X
	// Role buttons
	span.pull-right.button-badge.dealer-button(data-ng-if='playerInfo.isDealer')
	span.pull-right.button-badge.small-blind-button(data-ng-if='playerInfo.isSmallBlind')
	span.pull-right.button-badge.big-blind-button(data-ng-if='playerInfo.isBigBlind')
	span.pull-right.assign-cards-badge(data-ng-if='player && isGameStarted()')
		button.btn-xs.btn-link(data-ng-click='showHoleCards()')
			img(src='/img/card-icon.png')

	// Stack
	span.player-chip-stack(data-ng-bind='player.stack | stackSize')

	// Action info
	.current-action(data-ng-if='player && isGameStarted()', data-ng-bind='playerInfo.mostRecentAction | playerAction')

	// Action buttons and controls
	.action-controls(data-ng-if='player && isGameStarted()')
		button.form-control.btn.btn-sm.btn-danger.check-fold-button(
			data-ng-click='checkFold()',
			data-ng-bind='isCheckingAnOption() | checkOrFoldLabel',
			data-ng-disabled='disabled'
		)
		button.form-control.btn.btn-sm.btn-warning.call-button(
			data-ng-click='call()',
			data-ng-disabled='disabled'
			data-ng-bind='getAmountToCall() | callLabel'
		)
		form(data-ng-submit='betRaise()')
			input.form-control.raise-amount-txt(
				type='number',
				data-ng-model='betRaise.amount',
				data-ng-disabled='disabled'
			)
			button.form-control.btn.btn-sm.btn-primary.raise-button(
				type='submit',
				data-ng-bind='isBettingAnOption() | betOrRaiseLabel:betRaise.amount',
				data-ng-disabled='disabled'
			)
